body {
      background-color: #ede321;
      font-family: Comic Sans MS, cursive;
      text-align: center;
    }
h1 { color: #d41515; }

.box { border: 5px dotted blue; padding: 10px; margin: 10px; }

.rainbow { color: green; background: pink; } 
